@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  height: 100%;
  font-family: "Open Sans";
  list-style-type: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: black;
}

.header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-body__logo {
  margin: 0 0 0 -55px;
}

.header-body__header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav__list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 113px;
  height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 19px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.header-nav__list li a:hover {
  background-color: #EC7979;
}
.header-nav__list li a:active {
  background-color: #AB4949;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.text {
  font-family: Raleway;
  font-size: 18px;
  line-height: 21px;
}

.title {
  font-family: Raleway;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  position: relative;
  text-align: center;
}
.title::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 170px;
  background-color: #000000;
  bottom: -55px;
  left: calc(50% - 85px);
}

.subtitle {
  text-align: center;
  color: #86878B;
}

.start {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url(../img/background_first.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.4)), url(../img/background_first.jpg);
  background-size: cover;
}

.start__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 208px 0 185px 0;
  font-family: Raleway;
  color: white;
  margin: 0 -15px;
}

.start-descrip {
  margin: 0 15px;
}

.start-descrip__logo {
  margin: 0 0 50px 0;
}

.start-descrip__title {
  font-family: Raleway;
  font-size: 48px;
  line-height: 56px;
  margin: 0 0 98px 0;
  position: relative;
}
.start-descrip__title::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 170px;
  background-color: white;
  bottom: -55px;
  left: 0;
}

.start-descrip__text {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 42px 0;
}

.start-descrip__button a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 58px;
  width: 270px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  border: 2px solid #ffffff;
  color: #ffffff;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.start-descrip__button a:hover {
  border: 2px solid #EC7979;
  color: #EC7979;
}
.start-descrip__button a:active {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #AB4949;
  border: 2px solid #AB4949;
  color: #ffffff;
}

.start-data {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  border-radius: 10px;
  height: 450px;
  min-width: 400px;
  width: 470px;
  margin: 0 15px;
}

.start-data__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #333333;
  padding: 20px 0;
}
.start-data__title span {
  color: #EC7979;
}

.start-data__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.start-data__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.start-data__text input {
  border-bottom: 1px solid #bdbdbd;
  width: 370px;
  height: 38px;
  margin: 45px 0 0 0;
}

.start-data__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.start-data__email input {
  border-bottom: 1px solid #bdbdbd;
  width: 370px;
  height: 38px;
  margin: 33px 0 0 0;
}

.start-data__pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.start-data__pass input {
  border-bottom: 1px solid #bdbdbd;
  width: 370px;
  height: 38px;
  margin: 33px 0 0 0;
}

.start-data__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EC7979;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  padding: 25px 0;
  border-radius: 0px 0px 10px 10px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.start-data__button a:hover {
  background-color: #AB4949;
}
.start-data__button a:active {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #EC7979;
  -webkit-box-shadow: inset 0px 0px 5px black;
          box-shadow: inset 0px 0px 5px black;
}

.social {
  background-color: #F8EFEF;
}

.social__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 0;
}

.social-descrip__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 18px 0;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-links a {
  font-size: 48px;
  color: #cccccc;
  padding: 3px;
  margin: 0 22.5px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.social-links a:hover {
  color: #000;
}

.tabs {
  margin: 100px 0 0 0;
}

.tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__item {
  position: relative;
  top: 1px;
  left: 0;
  font-size: 14px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #333333;
  z-index: 1;
}

.tabs__block {
  display: none;
  border: 1px solid #C6CBCD;
  max-height: 500px;
  position: relative;
}
.tabs__block:target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tabs__block::before {
  content: "";
  height: 40px;
  width: 200px;
  position: absolute;
  top: -40px;
  border: 1px solid #C6CBCD;
  border-bottom: 1px solid #fff;
  border-radius: 5px 5px 0 0;
}
.tabs__block:nth-child(1)::before {
  left: -1px;
}
.tabs__block:nth-child(2)::before {
  left: 200px;
}
.tabs__block:nth-child(3)::before {
  left: 400px;
}

.tabs__descrip {
  max-width: 700px;
  margin: 40px 30px 0 100px;
}

.tabs__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  margin: 0 0 65px 0;
}

.tabs__text {
  font-family: Raleway;
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 27px 0;
}
.tabs__text p:nth-child(3) {
  margin: 0 0 27px 0;
}

.tabs__button a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 58px;
  width: 270px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  background-color: #EC7979;
  color: #ffffff;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.tabs__button a:hover {
  background-color: #AB4949;
}
.tabs__button a:active {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #EC7979;
  -webkit-box-shadow: inset 0px 0px 5px black;
          box-shadow: inset 0px 0px 5px black;
}

.awesome {
  background-color: #fff;
  padding: 100px 0 0 0;
}

.awesome__subtitle {
  margin: 95px 0 110px 0;
}

.awesome__awesome-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 58px 0;
  margin: 0 -15px;
}

.awesome-columns__awesome-column {
  text-align: center;
  margin: 0 15px;
}

.awesome-column__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  width: 90px;
  font-size: 60px;
  color: #EC7979;
  margin: 0 auto;
  border: 1px solid #EC7979;
  border-radius: 50%;
}

.awesome-column__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  padding: 80px 0 27px 0;
}

.price {
  background-color: #F5F5F5;
  padding: 100px 0 50px 0;
}

.price__subtitle {
  margin: 95px 0 80px 0;
}

.price__price-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin: 0 -15px;
}

.price-columns__price-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 370px;
  background-color: #fff;
  margin: 0 15px;
}
.price-columns__price-column:nth-child(2) {
  position: relative;
  top: -15px;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
          filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.price-column__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  color: #ffffff;
  border: 1px solid #F5F5F5;
  background-color: #333333;
}

.price-column__price {
  font-family: Raleway;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  color: #ffffff;
  border: 1px solid #F5F5F5;
  background-color: #333333;
}

.price-column__subtitle {
  font-family: Raleway;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid #F5F5F5;
  background-color: #333333;
}

.price-column__char p {
  font-family: Raleway;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
  text-transform: capitalize;
  border: 1px solid #F5F5F5;
  background-color: #FFFFFF;
}

.saying {
  background-color: #ffffff;
  padding: 100px 0 64px 0;
}

.saying__subtitle {
  margin: 95px 0 80px 0;
}

.saying__saying-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

.saying-columns__saying-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 370px;
  margin: 0 15px;
}

.saying-column__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 38px 20px;
  background-color: #E2E2E2;
  border-radius: 10px;
  font-family: Raleway;
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
  margin: 0 0 66px 0;
  position: relative;
}
.saying-column__text::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 70px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #E2E2E2;
}

.saying-column__saying-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.saying-star__img {
  margin: 0 15px 0 0;
}

.saying-star__saying-data {
  margin: 0 0 0 15px;
}

.saying-data__name {
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  color: #000000;
  display: block;
  padding: 0 0 30px 0;
}

.saying-data__profession {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.design {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url(../img/background_second.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.4)), url(../img/background_second.jpg);
  background-size: cover;
  padding: 100px 0 50px 0;
}

.design__title {
  color: #fff;
}
.design__title::after {
  background-color: #fff;
}

.design__subtitle {
  margin: 95px 0 73px 0;
  color: #fff;
}

.design__button {
  text-align: center;
}
.design__button a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 58px;
  width: 370px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  border: 2px solid #ffffff;
  color: #ffffff;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.design__button a:hover {
  border: 2px solid #EC7979;
  color: #EC7979;
}
.design__button a:active {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #AB4949;
  border: 2px solid #AB4949;
  color: #ffffff;
}

.contact {
  background-color: #ffffff;
  padding: 100px 0 50px 0;
}

.contact__subtitle {
  margin: 95px 0 90px 0;
}

.contact__contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 50px 0;
  margin: 0 -15px;
}

.contact-form__contact-data {
  margin: 0 15px;
}

.contact-data__name input {
  width: 571px;
  height: 31px;
  border-bottom: solid 1px #BDBDBD;
  margin: 0 0 30px 0;
}

.contact-data__email input {
  width: 571px;
  height: 31px;
  border-bottom: solid 1px #BDBDBD;
  margin: 0 0 30px 0;
}

.contact-data__subject input {
  width: 571px;
  height: 31px;
  border-bottom: solid 1px #BDBDBD;
}

.contact-form__message textarea {
  margin: 0 15px;
  width: 571px;
  height: 153px;
  border-bottom: solid 1px #BDBDBD;
}

.contact__button {
  text-align: center;
}
.contact__button a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 58px;
  width: 370px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  background-color: #EC7979;
  color: #ffffff;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.contact__button a:hover {
  background-color: #AB4949;
}
.contact__button a:active {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #EC7979;
  -webkit-box-shadow: inset 0px 0px 5px black;
          box-shadow: inset 0px 0px 5px black;
}

.footer {
  font-family: "Raleway";
  background-color: #000000;
  padding: 40px 0 27px 0;
}
.footer p {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.5;
  text-align: center;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 32px 0;
}
.footer__list a {
  font-size: 40px;
  color: #cccccc;
  margin: 0 20px;
  padding: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.footer__list a:hover {
  color: #fff;
}