.contact {
    background-color: #ffffff;
    padding: 100px 0 50px 0;
    &__subtitle {
        margin: 95px 0 90px 0;
    }
    &__button {
        text-align: center;
    }
    &__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 58px;
        width: 370px;
        font-size: 18px;
        font-weight: 600;
        background-color: #ec7979;
        color: #ffffff;
        transition-duration: 0.5s;
        &:hover {
            background-color: #ab4949;
        }
        &:active {
            transition-duration: 0.3s;
            background-color: #ec7979;
            box-shadow: inset 0px 0px 5px black;
        }
    }
}
.contact-form {
    display: flex;
    padding: 0 0 50px 0;
    margin: 0 -15px;
    &__data {
        margin: 0 15px;
    }
    &__name {
        display: block;
        width: 571px;
        height: 35px;
        border-bottom: solid 1px #bdbdbd;
        margin: 0 0 50px 0;
    }
    &__email {
        display: block;
        width: 571px;
        height: 35px;
        border-bottom: solid 1px #bdbdbd;
        margin: 0 0 50px 0;
    }
    &__subject {
        display: block;
        width: 571px;
        height: 35px;
        border-bottom: solid 1px #bdbdbd;
    }
    &__message {
        display: block;
        margin: 0 15px;
        width: 571px;
        height: 205px;
        border-bottom: solid 1px #bdbdbd;
        resize: none;
    }
}
