.contact {
    background-color: #ffffff;
    padding: 100px 0 50px 0;
    &__subtitle {
        margin: 95px 0 90px 0;
        @media (max-width: 1200px) {
            margin: 95px 0 70px 0;
        }
        @media (max-width: 767px) {
            margin: 95px 0 65px 0;
        }
    }
    &__button {
        text-align: center;
    }
    
    &__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 58px;
        width: 370px;
        font-size: 18px;
        font-weight: 600;
        background-color: #ec7979;
        color: #ffffff;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: #ab4949;
        }
        &:active {
            background-color: #ec7979;
            box-shadow: inset 0px 0px 5px black;
        }
        @media (max-width: 1200px) {
            width: 318px;
        }
        @media (max-width: 767px) {
            height: 50px;
            width: 273px;
        }
    }
}
.contact-form {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 50px;
    padding: 0 0 50px 0;
    &__elem {
        display: flex;
        width: 100%;
        min-width: 288px;
        height: 35px;
        border-bottom: solid 1px #bdbdbd;
    }
    &__data {
        width: 50%;
        @media (max-width: 767px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__name {
        margin: 0 0 50px 0;
    }
    &__email {
        margin: 0 0 50px 0;
    }
    &__message {
        width: 50%;
        height: 205px;
        resize: none;
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    @media (max-width: 767px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 80%;
        margin: 0 auto;
    }
}
