.design {
    background: linear-gradient(rgba(0, 0, 0, 0.4)), url(../img/background_second.jpg);
    background-size: cover;
    padding: 100px 0 50px 0;
    &__title {
        color: #fff;
        &::after {
            background-color: #fff;
        }
    }
    &__subtitle {
        margin: 95px 0 73px 0;
        color: #fff;
    }
    &__button {
        text-align: center;
    }
    &__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 58px;
        width: 370px;
        font-size: 18px;
        line-height: 25px;
        font-weight: 600;
        background-color: inherit;
        border: 2px solid #ffffff;
        color: #ffffff;
        transition: all 0.3s ease-in-out;
        &:hover {
            border: 2px solid #ec7979;
            color: #ec7979;
        }
        &:active {
            background-color: #ab4949;
            border: 2px solid #ab4949;
            color: #ffffff;
        }
    }
}
