.header {
    width: 100%;
    position: absolute;
    background-color: black;
    z-index: 10;
}
.header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    &__logo-link {
        display: block;
    }
}
.header-nav {
    display: flex;
    align-items: center;
    &__list {
        display: flex;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 113px;
        height: 75px;
        font-size: 14px;
        font-weight: 600;
        color: #ffffff;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: #ec7979;
        }
        &:active {
            background-color: #ab4949;
        }
        @media (max-width: 992px) {
            display: none;
        }
    }
    .header-nav__burger-btn {
        background-color: #000;
        display: none;
        padding: 19px;
        @media (max-width: 992px) {
            display: block;
        }
    }
}
