.saying {
    background-color: #ffffff;
    padding: 100px 0 64px 0;
}
.saying__subtitle {
    margin: 95px 0 80px 0;
}
.saying__saying-columns {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}
.saying-columns__saying-column {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 1 0 auto;
    max-width: 370px;
    margin: 0 15px;
}
.saying-column__text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 38px 20px;
    background-color: #e2e2e2;
    border-radius: 10px;
    font-family: Raleway;
    font-size: 18px;
    line-height: 21px;
    color: #86878b;
    margin: 0 0 66px 0;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 70px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 30px solid #e2e2e2;
    }
}
.saying-column__saying-star {
    display: flex;
}
.saying-star__img {
    margin: 0 15px 0 0;
}
.saying-star__saying-data {
    margin: 0 0 0 15px;
}
.saying-data__name {
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    color: #000000;
    display: block;
    padding: 0 0 30px 0;
}
.saying-data__profession {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
