.start {
    background: linear-gradient(rgba(0, 0, 0, 0.4)), url(../../img/background_first.jpg);
    background-size: cover;
}
.start__body {
    display: flex;
    justify-content: space-between;
    padding: 208px 0 185px 0;
    font-family: Raleway;
    color: white;
    margin: 0 -15px;
}
.start-descrip {
    margin: 0 15px;
}
.start-descrip__logo {
    margin: 0 0 50px 0;
}
.start-descrip__title {
    font-family: Raleway;
    font-size: 48px;
    line-height: 56px;
    margin: 0 0 98px 0;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 170px;
        background-color: white;
        bottom: -55px;
        left: 0;
    }
}
.start-descrip__text {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 42px 0;
}
.start-descrip__button {
    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 58px;
        width: 270px;
        font-size: 18px;
        line-height: 25px;
        font-weight: 600;
        border: 2px solid #ffffff;
        color: #ffffff;
        transition-duration: 0.5s;
        &:hover {
            border: 2px solid #ec7979;
            color: #ec7979;
        }
        &:active {
            transition-duration: 0.3s;
            background-color: #ab4949;
            border: 2px solid #ab4949;
            color: #ffffff;
        }
    }
}
.start-data {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 10px;
    height: 450px;
    min-width: 400px;
    width: 470px;
    margin: 0 15px;
}
.start-data__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #333333;
    padding: 20px 0;
    span {
        color: #ec7979;
    }
}
.start-data__body {
    flex: 1 1 auto;
}
.start-data__text {
    display: flex;
    justify-content: center;
    input {
        border-bottom: 1px solid #bdbdbd;
        width: 370px;
        height: 38px;
        margin: 45px 0 0 0;
    }
}
.start-data__email {
    display: flex;
    justify-content: center;
    input {
        border-bottom: 1px solid #bdbdbd;
        width: 370px;
        height: 38px;
        margin: 33px 0 0 0;
    }
}
.start-data__pass {
    display: flex;
    justify-content: center;
    input {
        border-bottom: 1px solid #bdbdbd;
        width: 370px;
        height: 38px;
        margin: 33px 0 0 0;
    }
}
.start-data__button {
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ec7979;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #ffffff;
        padding: 25px 0;
        border-radius: 0px 0px 10px 10px;
        transition-duration: 0.5s;
        &:hover {
            background-color: #ab4949;
        }
        &:active {
            transition-duration: 0.3s;
            background-color: #ec7979;
            box-shadow: inset 0px 0px 5px black;
        }
    }
}
