.start {
    background: linear-gradient(rgba(0, 0, 0, 0.4)), url(../img/background_first.jpg);
    background-size: cover;
    background-position: center;
}

.start-body {
    display: flex;
    justify-content: space-between;
    padding: 230px 0 180px 0;
    font-family: Raleway, sans-serif;
    color: white;
    gap: 30px;
    @media (max-width: 1200px) {
        padding: 230px 0 106px 0;
    }
    @media (max-width: 992px) {
        padding: 140px 0 50px 0;
        flex-direction: column;
        align-items: center;
    }
}
.start-descrip {
    &__logo {
        margin: 22.5px 0 72.5px 0;
        @media (max-width: 1200px) {
            margin: 17.5px 0 55px 0;
        }
        @media (max-width: 992px) {
            display: none;
        }
    }
    &__title {
        font-family: Raleway, sans-serif;
        font-size: 48px;
        line-height: 56px;
        font-weight: 500;
        max-width: 640px;
        margin: 0 0 100px 0;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            height: 1px;
            width: 170px;
            background-color: white;
            bottom: -55px;
            left: 0;
        }
        @media (max-width: 1200px) {
            font-size: 36px;
            line-height: 42px;
            max-width: 460px;
            margin: 0 0 72px 0;
            &::after {
                width: 115px;
                bottom: -41px;
            }
        }
        @media (max-width: 992px) {
            text-align: center;
            margin: 0 0 85px 0;
            &::after {
                width: 134px;
                bottom: -43px;
                left: calc(50% - 67px);
            }
        }
    }
    &__text {
        font-family: Raleway, sans-serif;
        font-size: 18px;
        line-height: 21px;
        max-width: 330px;
        margin: 0 0 42px 0;
        @media (max-width: 1200px) {
            font-size: 14px;
            line-height: 16px;
            max-width: 185px;
            margin: 0 0 31px 0;
        }
        @media (max-width: 992px) {
            max-width: none;
            margin: 0 0 42px 0;
            text-align: center;
        }
    }
    &__link {
        background-color: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 58px;
        width: 270px;
        font-size: 18px;
        font-weight: 600;
        border: 2px solid #ffffff;
        color: #ffffff;
        transition: all 0.3s ease-in-out;
        &:hover {
            border: 2px solid #ec7979;
            color: #ec7979;
        }
        &:active {
            background-color: #ab4949;
            border: 2px solid #ab4949;
            color: #ffffff;
        }
        @media (max-width: 1200px) {
            height: 50px;
            width: 183px;
        }
        @media (max-width: 992px) {
            height: 50px;
            width: 288px;
            margin: 0 auto 56px auto;
        }
    }
}
.start-data {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    height: 450px;
    width: 470px;
    @media (max-width: 1200px) {
        width: 400px;
    }
    @media (max-width: 767px) {
        width: calc(55%);
        min-width: 288px;
        height: 381px;
    }
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        text-transform: uppercase;
        color: #333333;
        padding: 20px 0;
        span {
            color: #ec7979;
        }
        @media (max-width: 1200px) {
            font-size: 18px;
            line-height: 25px;
        }
        @media (max-width: 992px) {
        }
        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 19px;
        }
    }
    &__body {
        flex: 1 1 auto;
    }
    &__input {
        border-bottom: 1px solid #bdbdbd;
        width: calc(100% - 100px);
        height: 38px;
        @media (max-width: 992px) {
            width: calc(100% - 80px);
        }
        @media (max-width: 767px) {
            width: calc(100% - 40px);
        }
    }
    &__text {
        display: flex;
        justify-content: center;
        margin: 45px 0 0 0;
        @media (max-width: 767px) {
            margin: 0;
        }
    }
    &__email {
        display: flex;
        justify-content: center;
        margin: 33px 0 0 0;
    }
    &__pass {
        display: flex;
        justify-content: center;
        margin: 33px 0 0 0;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ec7979;
        width: 100%;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #ffffff;
        padding: 25px 0;
        border-radius: 0px 0px 10px 10px;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: #ab4949;
        }
        &:active {
            transition-duration: 0.3s;
            background-color: #ec7979;
            box-shadow: inset 0px 0px 5px black;
        }
    }
}
