@import "_nullstyle.scss";

@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

body {
    display: flex;
    flex-flow: column nowrap;
    font-family: "Open Sans";
    &._fixed {
        overflow: hidden;
    }
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: 1200px) {
        max-width: 1024px;
        padding: 0 16px;
    }
    @media (max-width: 767px) {
        max-width: none;
        padding: 0 16px;
    }
}
.main {
    flex: 1 0 auto;
}
.text {
    font-family: Raleway;
    font-size: 18px;
    line-height: 21px;
    @media (max-width: 1200px) {
        font-size: 14px;
        line-height: 16px;
    }
    @media (max-width: 767px) {
        font-size: 13px;
        line-height: 15px;
    }
}
.title {
    font-family: Raleway;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    position: relative;
    text-align: center;
    &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 170px;
        background-color: #ec7979;
        bottom: -55px;
        left: calc(50% - 85px);
    }
    @media (max-width: 1200px) {
        font-size: 24px;
        line-height: 28px;
        &::after {
            width: 142px;
            left: calc(50% - 71px);
        }
    }
    @media (max-width: 767px) {
        font-size: 18px;
        line-height: 21px;
        &::after {
            width: 134px;
            left: calc(50% - 66px);
        }
    }
}
.subtitle {
    text-align: center;
    color: #86878b;
}

@import "_header.scss";
@import "_footer.scss";
@import "_start.scss";
@import "_social.scss";
@import "_tabs.scss";
@import "_awesome.scss";
@import "_price.scss";
@import "_saying.scss";
@import "_design.scss";
@import "_contact.scss";
@import "_burgerMenu.scss";
